---
const { title, c1, c2, l1, l2 } = Astro.props;
---

<div class="dropdown">
    <button class="dropbtn">
        {title}
        <i class="fa fa-caret-down"></i>
    </button>

    <div class="dropdown-content">
        <a href={l1}>{c1}</a>
        <a href={l2} target="_blank">{c2}</a>
    </div>
</div>
